* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Outfit", sans-serif;
}



.btn-top {
  position: fixed;
  bottom: 1.6rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-color: #2264d6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}

.btn-top-hide {
  visibility: hidden;
  opacity: 0;
  transform: translateX(2rem);
}

.btn-top:hover {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* corpo da pagina */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* barra de navegação */
.navbar {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 2em;
  position: fixed;
  top: 0;
  background-color: transparent;
  /* background: rgb(66, 129, 234);
  background: -moz-linear-gradient(
    330deg,
    rgba(66, 129, 234, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  background: -webkit-linear-gradient(
    330deg,
    rgba(66, 129, 234, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  background: linear-gradient(
    330deg,
    rgba(66, 129, 234, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4281ea", endColorstr="#226ed9", GradientType=1); */
}

.navbar-colored {
  background-color: #3177E1 !important;
}

.navbar-colored::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3177E1;
  z-index: -1;
}

.navbar-colored::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #3177E1;
  z-index: -1;
}

.nav-toggle {
  display: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.nav-link {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 200ms ease-in-out;

}

.nav-link > svg {
  display: none;
}

.nav-column {
  display: none;
}
.nav-column > div > p {
  font-size: 1.3rem;
  font-weight: 600;
}

.logo-img {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 2rem;
}

/* header information */
.header-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 0% 0 10%;
}

.header-text {
  width: 100%;
  max-width: 700px;
}

.header-text > h1 {
  font-size: 5vw;
}

.header-text > p {
  padding-right: 7%;
}

.avatar-img {
  width: 60%;
}

/* content */
#content {
  gap: 2rem;
}

a {
  text-decoration: none;
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin-top: 5vh;
}

.article > section {
  padding: 3%;
  width: 100%;
  text-align: justify;
}

.group-button {
  width: 100%;
  display: flex;
  gap: 5%;
  margin-top: 5%;
}

.group-button > button {
  width: 40%;
  height: 40px;
  border-radius: 10px !important;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.05em;
  max-width: 200px;
  cursor: pointer;
}
.group-button > button > a {
  display: block;
}

.group-button > button:first-of-type {
  border: none;
  background-color: #3c7de7;
}

.group-button > button:last-of-type {
  background-color: #ffffff;
  border: 3px solid #3c7de7;
  color: #3c7de7;
}

.group-button > button:last-of-type > a,
.group-button > button:last-of-type > a > i {
  color: #3c7de7;
}

.group-button > button:first-of-type > i {
  color: #ffffff;
}

.group-button > button:last-of-type > i {
  color: #3c7de7;
}

.group-button > button:first-of-type:hover {
  transition: all 200ms ease-in;
  background-color: #2a58a1;
}

.group-button > button:last-of-type:hover > a > i,
.group-button > button:last-of-type:hover {
  transition: all 200ms linear;
  background-color: #3c7de7;
  color: #ffffff;
}
.group-button > button:last-of-type:hover > a {
  color: #ffffff;
}

.divider {
  align-self: center;
  width: 4px;
  height: 60%;
  filter: blur(1px);
  border-radius: 50%;
  background: rgb(170, 170, 170);
  background: -moz-radial-gradient(
    circle,
    rgba(170, 170, 170, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(170, 170, 170, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
    circle,
    rgba(170, 170, 170, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aaaaaa", endColorstr="#ffffff", GradientType=1);
}

/* techs icons */
.techs-icons {
  padding: 0 1.5em;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs-icons > figure {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  padding: 0 1em;
}

.techs-icons > figure > i {
  font-size: 4em;
  color: rgb(208, 208, 208);
}

.icons-events {
  cursor: pointer;
}

.icons-events:hover {
  filter: contrast(100%);
}

.colored {
  position: relative;
}

.desc-popup {
  font-size: 1rem;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  padding: 1em 1.7em 1em 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.9);
}

.btn-desc {
  top: 0.5em !important;
  right: 0.5em !important;
}

/* journey-area */
.journey-area {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey-area > section {
  margin-top: 4vh;
  padding: 7rem 0 0 2rem;
  width: 100%;
  max-width: 90vw;
  height: 26rem;
  min-height: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  overflow-x: auto;
  cursor: grab;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  border: #d1d1d1 solid 1px;
  background-image: url("../assets/images/plane-bg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}

.journey-area > section:active {
  cursor: grabbing;
}

.journey-area > section::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}

.journey-area > section::-webkit-scrollbar {
  height: 0;
}

.journey-item {
  min-width: 20rem;
  max-width: 20rem;
  position: relative;
}
.journey-item > div {
  padding: 0.6rem 1rem;
  background-color: #00286d70;
  border-radius: 5px;
  margin: 1rem;
  margin-right: 2rem;
  height: 10rem;
  backdrop-filter: blur(4px);
}

.journey-item:nth-child(odd) {
  border-bottom: 2px solid #3c7de7;
  transform: translateY(-49.3%);
}

.journey-item:nth-child(even) {
  border-top: 2px solid #3c7de7;
  transform: translateY(49.3%);
}

.journey-item:nth-child(odd)::before,
.journey-item:nth-child(even)::before {
  content: "";
  background: #3c7de7;
  width: 2px;
  height: 75%;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
}

.journey-item:nth-child(even)::before {
  top: -0%;
  height: 20%;
}

.journey-item:nth-child(odd)::after,
.journey-item:nth-child(even)::after {
  content: "";
  background: #3c7de7;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
}

.journey-item:nth-child(odd)::after {
  top: 100%;
}

.journey-item > div > h3 {
  color: #fff;
  background-color: #3c7de7;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  transform: translateX(-3rem);
}

.journey-item > div > span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #d7e6ff;
  padding: 0.3rem 0.3rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.journey-item > div > p {
  color: #fff;
  margin-top: 0.6rem;
}

/* projects */
.projects-area {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-area > section {
  margin-top: 3vh;
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects {
  position: relative;
  padding: 0 0 1rem 0;
  width: 390px;
  /* height: 200px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.projects > div {
  padding: 1rem;
}

.projects > div > figure {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: grey;
  border: 1px solid #ffffff;
}

.projects > div > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.projects > div > figure > p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.projects > div > h3 {
  color: #000000;
  margin-top: 1rem;
}

.projects > div > p {
  margin-top: 0.5rem;
  color: #000000;
}

.projects > div > label {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.projects > div > label > a {
  color: #2972dd;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.projects > div > label > a > span {
  color: #2972dd;
  font-size: 1.2rem;
}

.projects > div > button {
  background-color: #2972dd;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 2px;
  margin: 0.6rem 0;
}

/* footer */
.footer {
  margin-top: 5vh;
  padding: 2em;
}

.footer > article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.footer > article > section {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer > article > section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer > article > section > div > a {
  text-decoration: none !important;
  margin: 0.5em;
}

.footer > article > section > div > a > i {
  font-size: 2em;
  cursor: pointer;
}

.photo-me {
  width: 15vh;
  height: 15vh;
  border-radius: 100px;
  background-color: grey;
  overflow: hidden;
  border: 1px solid #ffffff;
}

.photo-me > img {
  width: 100%;
  filter: saturate(0%);
}

.back-dark-blue {
  background: rgb(52, 108, 199);
  background: -moz-linear-gradient(
    330deg,
    rgba(52, 108, 199, 1) 0%,
    rgba(29, 90, 177, 1) 100%
  );
  background: -webkit-linear-gradient(
    330deg,
    rgba(52, 108, 199, 1) 0%,
    rgba(29, 90, 177, 1) 100%
  );
  background: linear-gradient(
    330deg,
    rgba(52, 108, 199, 1) 0%,
    rgba(29, 90, 177, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#346cc7", endColorstr="#1d5ab1", GradientType=1);
}

.menuLinks {
  display: none;
}

/* mobiles */
@media screen and (max-width: 1000px) {
  .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100% !important;
  }

  main {
    position: relative;
  }

  .navbar {
    z-index: 1;
  }

  .nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }

  .navbar-links {
    display: none;
  }

  .nav-column {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    justify-content: flex-end;
    backdrop-filter: blur(4px) brightness(50%);
  }

  .nav-column > div {
    width: 80%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 7%;
  }

  #nav-column-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 100%;
    position: relative;
  }

  .nav-link {
    font-size: 1.4em;
  }

  .nav-link > svg {
    font-size: 0.9em;
    display: block;
  }

  .menuLinks {
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 0;
  }

  .menuLinks > ul {
    display: flex;
    list-style: none;
    gap: 1em;
  }

  /* header information */
  .header-info {
    flex-wrap: wrap;
  }

  .header-text > h1 {
    font-size: 50px;
  }

  .header-text > p {
    padding-right: 7%;
  }

  .avatar-img {
    width: 80%;
  }

  /* content */
  .article {
    flex-direction: column;
    align-items: center;
  }

  .article > section {
    padding: 3%;
    width: 90%;
    text-align: justify;
  }

  .group-button {
    justify-content: center;
    margin-top: 8%;
  }

  .group-button > button {
    font-size: 0.8em;
  }

  .divider {
    width: 60%;
    height: 4px;
    margin: 2vh 0;
  }

  /* journey-area */
  .journey-area > section {
    border-radius: 0;
    max-width: 100%;
    border-left: none;
    border-right: none;
  }

  /* techs icons */
  .techs-icons {
    text-align: center;
  }

  .techs-icons > figure {
    width: 90%;
  }

  .techs-icons > figure > i {
    font-size: 3em;
  }

  /* footer */
  .footer > article {
    flex-flow: column-reverse;
    text-align: center;
  }

  .footer > article > section {
    gap: 2em;
  }
}

@media screen and (max-width: 500px) {
  /* projects */
  .projects {
    width: 90vw;
  }
}

/* classes padrões */
.isActiveLink {
  background-color: #ffffff !important;
  color: #2264d6 !important;

  border-radius: 10px;
  padding: 0.5em 1em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
}

.isActiveLink > svg > path {
  fill: #2264d6 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  max-height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2264d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #064eca;
}

.container {
  width: 80%;
  max-width: 1920px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  color: #2a58a1;
}

.p {
  color: #909090;
}

.back-blue {
  background: rgb(105, 152, 255);
  background: -moz-linear-gradient(
    330deg,
    rgba(105, 152, 255, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  background: -webkit-linear-gradient(
    330deg,
    rgba(105, 152, 255, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  background: linear-gradient(
    330deg,
    rgba(105, 152, 255, 1) 0%,
    rgba(34, 110, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6998ff", endColorstr="#226ed9", GradientType=1);
}

.btn-close {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* classes usadas no interface.js */
.nav-active {
  display: flex !important;
  overflow: hidden;
}

/* animações usadas no interface.js */
@keyframes nav-toggle-animation-show {
  from {
    right: -100%;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes nav-toggle-animation-hide {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

/* TEST CLASSES */
.color-test {
  color: black !important;
}
